<div class="table">

    <div class="table-header">
        <p>Receitas</p>
        <form class="flex align-items-center justify-content-center gap-1" [formGroup]="formularioFiltro">
            <select class="select-filtro" formControlName="ContaId" (change)="getByIdContaAsync()">
                <option *ngFor="let conta of (contas | async); let i = index;" [value]="conta.id">{{ conta.nome }}</option>
            </select>
            <button class="table-header-button" type="button" (click)="adicionar()">
                <i class='bx bx-plus-circle' ></i>
                Adicionar
            </button>
        </form>
    </div>
    <div *ngFor="let item of (items | async)" class="item" (click)="editar(item)">
        <p class="title">{{ item.titulo }}</p>
        <p class="valor">{{ item.valor | currency: 'BRL' }}</p>
    </div>
    
    <div class="table-footer">
        <p><b>Total</b></p>
        <p>{{ valorTotal | currency: 'BRL' }}</p>
    </div>

</div>