.table {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    padding: 20px;
}

.table .table-header, .table .table-footer {
    padding: 10px;
}

.table .table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e3e3;
}

.table .table-header p, .table .table-footer p {
    font-weight: bold;
    font-size: 18px;
}

.table .item {

    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease all;
    border-radius: 10px;
    margin-bottom: 5px;

}

.table .item:hover {
    background-color: #c7f3d6;
}