.table {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    padding: 20px;
}
.table .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table .table-header p {
    font-weight: bold;
    font-size: 18px;
}

.table .table-header .table-header-button {

    color: white;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    background-color: var(--color-button-submit);
    border: 0;
    border-radius: 5px;
    height: 35px;
    transition: 0.3s ease all;
    font-size: 15px;
    font-weight: bold;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.table .item {

    margin-top: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease all;
    border-radius: 10px;
    margin-bottom: 5px;

}

.table .item {

    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease all;
    border-radius: 10px;
    margin-bottom: 5px;

}

.table .item:hover {
    background-color: #c7f3d6;
}

.table .item p.title {
    display: flex;
    gap: 5px;
    align-items: center;
}
