<div class="table">

    <div class="table-header">
        <p>Contas</p>
        <button class="table-header-button" type="button" (click)="adicionar()">
            <i class='bx bx-plus-circle' ></i>
            <span>Adicionar</span>
        </button>
    </div>
    <div *ngFor="let item of (items | async)" class="item" (click)="editar(item, $event)">
        <p class="title">
            {{ item.nome }}
            <i class='bx bxs-star' *ngIf="item.padrao" title="Conta Padrão"></i>
        </p>
    </div>

</div>