.navbar {
    width: 100%;
    background-color: #16C64F;
    height: var(--navbar-height);
}

.navbar .wrapper {
    max-width: var(--main-maxwidth);
    height: var(--navbar-height);
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .wrapper .option-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
}

.navbar .wrapper .nav-item a{
    color: white;
    text-decoration: none;
}

.navbar .wrapper .nav-option {
    display: flex;
    gap: 5px;
}

.navbar .wrapper .nav-option button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.navbar .wrapper .nav-option button i {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.navbar .wrapper .nav-logo {
    color: white;
}

.navbar .wrapper .nav-item.register {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar .wrapper .nav-item.register a {
    color: var(--color-receita);
}

.navbar .wrapper .nav-item.register:hover {
    background-color: var(--color-receita-hover);
}
.navbar .wrapper .nav-item.register:hover > a {
    color: white;
}

.active {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3px 0 #fff;
    transition: all 0.4s ease;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        display: none;
    }
    .navbar .wrapper .nav-item a {
        font-size: 15px;
    }
    .navbar .wrapper .option-wrapper {
        gap: 10px;
    }
    .navbar .wrapper .nav-option button i {
        font-size: 30px;
    }
}