<section class="dashboard">
        
    <div class="dashboard-header">

        <div class="account">

            <div class="account-header">
                {{ cumprimento }}, <label><br> <b>{{ usuario.name }}</b> </label>
            </div>
            
            <div class="account-content">
                
                <div class="account-card saldo">
                    <div class="card-info">
                        <label>Saldo</label>
                        <p>{{ (saldoAtual | async) | currency: 'BRL' }}</p>
                    </div>
                    <div class="card-icon">
                        <i class='bx bxs-bank' ></i>
                    </div>
                </div>

                <div class="account-card receita">
                    <div class="card-info">
                        <label>Receita</label>
                        <p>{{ receitaAtual | currency: 'BRL' }}</p>
                    </div>
                    <div class="card-icon" routerLink="/receita">
                        <i class='bx bx-plus-circle' ></i>
                    </div>
                </div>

                <div class="account-card despesa">
                    <div class="card-info">
                        <label>Despesa</label>
                        <p>{{ despesaAtual | currency: 'BRL' }}</p>
                    </div>
                    <div class="card-icon" routerLink="/despesa">
                        <i class='bx bx-minus-circle' ></i>
                    </div>
                </div>
    
            </div>
    
        </div>

    </div>
    
    <!-- <div class="dashboard-content">
        <div class="content-item">
            <app-receita-list></app-receita-list>
        </div>
        <div class="content-item">
            <app-despesa-list></app-despesa-list>
        </div>
    </div> -->

</section>