.dashboard .dashboard-header {
    display: flex;
    padding: 15px;
    background-color: white;
    box-shadow: var(--card-shadow);
    margin: 5px 0;
    border-radius: 10px;
}

.dashboard .dashboard-header .account {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.dashboard .dashboard-header .account .account-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashboard .dashboard-header .account .account-header label {
    font-size: 20px;
}

.dashboard .dashboard-header .account .account-content {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
    
.dashboard .dashboard-header .account .account-content .account-card {
    box-shadow: var(--card-shadow);
    width: 250px;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.dashboard .dashboard-header .account .account-content .account-card .card-info {
    text-align: start;
}

.dashboard .dashboard-header .account .account-content .account-card p {
    font-size: 20px;
}

.dashboard .dashboard-header .account .account-content .account-card.saldo p{
    color: var(--color-saldo);
}

.dashboard .dashboard-header .account .account-content .account-card.receita p{
    color: var(--color-receita);
}

.dashboard .dashboard-header .account .account-content .account-card.despesa p{
    color: var(--color-despesa);
}

.dashboard .dashboard-content {
    display: flex;
    gap: 5px;
}

.dashboard .dashboard-content .content-item {
    flex: 1;
}

.cursor-pointer {
    cursor: pointer;
}

/* .card-icon > i.bxs-bank:hover {
    color: var(--color-saldo-hover);
} */

.card-icon > i.bx-plus-circle:hover {
    color: var(--color-receita-hover);
}

.card-icon > i.bx-minus-circle:hover {
    color: var(--color-despesa-hover);
}

.card-icon i {
    font-size: 40px;
}

.card-icon i.bxs-bank {
    color: var(--color-saldo);
}

.card-icon i.bx-plus-circle {
    color: var(--color-receita);
}

.card-icon i.bx-minus-circle {
    color: var(--color-despesa);
}

.charts {
    padding: 15px;
    background-color: white;
    box-shadow: var(--card-shadow);
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.wrapper {
    width: 50%;
    height: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    
    .dashboard {
        padding: 0 5px;
    }

    .dashboard .dashboard-header .account .account-content .account-card {
        width: 100%;
    }
    .wrapper {
        width: 75%;
    }
    
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 85%;
    }
    .dashboard .dashboard-header .account .account-header .form-filtro .form-group .select-filtro {
        width: 150px;
    }
}

@media screen and (max-width: 468px) {
    .dashboard .dashboard-header .account .account-header .form-filtro {
        width: 100%;
        flex-direction: column;
    }
    .dashboard .dashboard-header .account .account-header .form-filtro .form-group {
        width: 100%;
    }
    .dashboard .dashboard-header .account .account-header .form-filtro .form-group .select-filtro {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
}