<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <h3>{{ registro ? 'Editar Conta' : 'Nova Conta'}}</h3>

    <div class="form-group">
        <label for="nome">Nome da Conta</label>
        <input id="nome" type="text" autofocus formControlName="nome" />
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea id="descricao" type="text" formControlName="descricao" rows="5"></textarea>
    </div>
    <div class="form-checkbox">
        <label for="padrao">Padrão</label>
        <label class="switch">
            <input id="padrao" type="checkbox" formControlName="padrao" />
            <span class="slider round"></span>
        </label>
    </div>
    <div class="button-group">
        <ng-container *ngIf="registro">
            <button *ngIf="registro.id && !registro.padrao" type="button" class="btn-excluir" (click)="excluir(formulario.value.id)">Excluir</button>
        </ng-container>
        <button type="button" class="btn-back" (click)="voltar()">Voltar</button>
        <button type="submit" class="btn-submit" [disabled]="formulario.invalid || processando">Salvar</button>
    </div>
    
</form>