<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" type="email" autofocus formControlName="email" />
    </div>

    <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" type="password" formControlName="password" />
    </div>

    <div class="button-group">
        <button type="submit" class="btn-submit" [disabled]="formulario.invalid || processando">Entrar</button>
    </div>

    <a routerLink="forgot-password">Esqueci minha Senha</a>

</form>