@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {

    --color-despesa: red;
    --color-receita: rgb(14, 204, 14);
    --color-saldo: rgb(32, 152, 233);

    --color-despesa-hover: rgb(224, 5, 5);
    --color-receita-hover: rgb(12, 170, 12);
    --color-saldo-hover: rgb(22, 135, 211);

    --color-button-submit: rgb(23, 177, 23);
    --color-button-submit-hover: rgb(28, 201, 28);
    --color-button-submit-disabled: rgb(23, 177, 23, .1);

    --color-button-back: rgb(194, 194, 194);
    --color-button-back-hover: rgb(214, 214, 214);

    --color-button-excluir: red;
    --color-button-excluir-hover: rgb(224, 5, 5);

    --navbar-height: 50px;
    --main-height: 100vh;

    --main-maxwidth: 1440px;

    --card-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    --card-wrapper-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    --color-icon-close: red;
    --color-icon-close-hover: rgb(224, 5, 5);

    /* FORMS */
    --label-color: #A5A7A1;
    --input-border: #EBEBEB;
    --input-border-radius: 5px;

    --color-button-edit: #949494;
    --color-button-trash: #cf1616;

    --hover: rgb(28, 201, 28);

    --button-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}


body {
    background-color: rgb(247, 247, 247);
}